.thebrbre-social-share .thebrbre-share-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.thebrbre-social-share .thebrbre-share-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s;
}

.thebrbre-social-share .thebrbre-share-list svg {
  width: 1em;
  height: 1em;
}

.thebrbre-social-share .thebrbre-share-icn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
